log/*
perls
perls/*
html
html/*
perldoc-browser.conf
perldoc-browser.sqlite*
hypnotoad.pid

#Project Files
.project

#Container Runtime Content
.bash_history
.cpanm
.cpanm/*
perl5
perl5/*

#Database Container Storage
data
data/*

#Local Docker-Compose Configuration
docker-compose.yml
