version: '3'
services:
  db:
    container_name: 'perldoc_db'
    image: postgres:11.13-alpine3.14
#    restart: always
    ports:
      - "5432:5432"
    volumes:
      - /absolute/path/to/project/data/pg:/var/lib/postgresql/data:Z
    environment:
      - COMPONENT=perldoc_db
      - POSTGRES_USER=perldoc
      - POSTGRES_PASSWORD=secret
  elasticsearch:
    container_name: 'perldoc_es'
    image: blacktop/elasticsearch:6.8
#    restart: always
    ports:
      - "9200:9200"
    volumes:
      - /home/bodo/Projekte/perl/perldoc_web/data/es:/usr/share/elasticsearch/data:Z
    environment:
      - COMPONENT=perldoc_es
  web:
    container_name: 'perldoc_web'
    image: perldoc_web
    build: .
    ports:
     - "3000:3000"
    volumes:
     - /absolute/path/to/project:/home/perldoc-browser:Z
    environment:
     - COMPONENT=perldoc_web
