body {
  background: #212529;
  color: #dee2e6;
}
#wrapperlicious h1, #wrapperlicious h2, #wrapperlicious h3,
#wrapperlicious h4, #wrapperlicious dt {
  color: #dee2e6;
}
#wrapperlicious a:hover { color: #fafafa }
#wrapperlicious dt {
  color: #fafafa;
}
#wrapperlicious pre {
  border: 1px solid #3c3c3c;
  border-radius: 3px;
}
#wrapperlicious pre > code {
  background-color: #1a1a1a;
}
#perldocdiv {
  background-color: #000;
  border: 1px solid #3c3c3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
