body {
  background: #f4f4f5;
  color: #020202;
}
#wrapperlicious h1, #wrapperlicious h2, #wrapperlicious h3,
#wrapperlicious h4, #wrapperlicious dt {
  color: #020202;
}
#wrapperlicious a:hover { color: #2a2a2a }
#wrapperlicious dt {
  color: #2a2a2a;
}
#wrapperlicious pre {
  border: 1px solid #c1c1c1;
  border-radius: 3px;
}
#wrapperlicious pre > code {
  background-color: #f6f6f6;
}
#perldocdiv {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
